{
    "printWidth": 100,
    "singleQuote": true,
    "jsxSingleQuote": false,
    "tabWidth": 4,
    "semi": true,
    "trailingComma": "all",
    "bracketSpacing": true,
    "jsxBracketSameLine": false,
    "arrowParens": "avoid",
    "parser": "babel"
}
