@import './variables.scss';

.content {
  height: calc(100% - 50px);
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: -1;
  margin-top: 50px;
  text-align: center;
  
  p {
    width: 100%;
  }
}

form {
  padding: 5px;
  margin: 0px 0px 22px 0px;
  max-width: 523.375px;
  width: 100%;
  min-height: 100px;
  display: grid;
  align-items: center;
  gap: 10px;
}


@media (min-width: 500px) {
  .content {
    justify-content: flex-start;
    padding-top: 15%;
    
    h2 {
      order: 1
    }
    h1 {
      order: 2
    }
    h3 {
      order: 3
    }
    form {
      order: 4
    }
  }
}