@import './variables.scss';

.content {
    width: 100%;
    padding: 80px 20px 30px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    z-index: -1;
  }

@media (min-width: 500px) {
  .content {
    padding: 100px 10% 50px 10%;
  }
}